<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" type="text/css" href="css/timeline.css">

</head>

<body>
   <%- include('includes/navigation.ejs') %>

   <section>
    <div class="container" style="padding-top:23%;padding-bottom:15%">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">Step 1</span>
                        <div class="timeline-content">
                            <h3 class="title">Generate Notification</h3>
                            <span class="post"></span>
                            <p class="description">
                                The platform provides a facility for the actors, who have surplus food, to upload the details regarding the same.
                                Further, the surplus will be categorized as Edible and Non Edible by the actors.

                            </p>
                        </div>
                    </div>
  
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">Step 2</span>
                        <div class="timeline-content">
                            <h3 class="title">Search</h3>
                            <span class="post"></span>
                            <p class="description">
                                The actors, who are in need of excess food, such as NGOs or farmers, will search or will be notified about tickets generated in their vicinity, according to their need.
                                <br>Consumable food, which would be healthy enough for normal consumption, can be used by NGOs to feed the hungry, poverty-stricken families or cattles.
                                <br>The Non Consumable food can be used on farmlands and organic nurseries, as cattle feed or manure in composting.

                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">Step 3</span>
                        <div class="timeline-content">
                            <h3 class="title">Contact and Distribution</h3>
                            <span class="post"></span>
                            <p class="description">
                                The interested entities will contact the owners, if their requirements are fulfilled. Further, they will issue the Food, and distribute them accordingly.

                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">Step 4</span>
                        <div class="timeline-content">
                            <h3 class="title">Outcome</h3>
                            <span class="post"></span>
                            <p class="description">
                                Address the problem of hunger and malnutrition, and increase agricultural productivity which 
                                 ensures a safe, sustainable, and sufficient food supply throughout the year.

                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </section>
  
    <br><br><br>


<%- include('includes/end.ejs') %>