

<%- include('includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="css/about.css">

</head>

<body>
   <%- include('includes/navigation.ejs') %>

   <!-- Blog Archive -->
   <section id="aa-blog-archive">
    <div class="aa-blog-archive-area">
    <div class="container">
      <div class="container">
  <div class="card-group vgr-cards">
    <div class="card">
      <div class="card-img-body">
      <img class="card-img" src="img/5.jpg" alt="Card image cap" style="margin-bottom: 30px;padding-right: 30px;padding:30px">
      </div>
      <div class="card-body">
        <h4 class="card-title"><b>Problem</b></h4>
        <p class="card-text" style=" text-align: justify;margin-bottom: 30px;line-height: 20pt;padding-right: 30px;">Food wastage is a situation which happens at stages right from production stage to consumption stage. In the consumption stage, where food is consumed at household levels, many times leftover food is an alarming issue. Our streets, garbage bins and landfills have sufficient proof to prove it.The reason that we waste food in our homes is due to poor planning: we buy and cook too much food, we don’t eat our leftovers, and we forget about the food in our pantry, fridge and freezer.The waste generated is then dumped in improper ways which creates a burden on landfills. Also, it contributes to land pollution and air pollution. When organic waste is buried in landfill, it is cut off from the air – oxygen can’t get to it – and a high level of methane is produced as it breaks down, alongside CO2. Wasting food in a reckless manner can severely affect the supply chain. Food wastage is one of the prime reasons for hunger of less privileged people.

 </p>

      </div>
    </div>
    <br>
    <br>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="img/current.jpeg" alt="Card image cap" style="margin-bottom: 30px;padding-right: 30px;padding:30px"></div>
      <div class="card-body">
        <h4 class="card-title"><b>Current Situatuon</b></h4>
        <p class="card-text" style=" text-align: justify;margin-bottom: 30px;line-height: 20pt;padding-right: 30px;">Globally, food waste is a major sustainability problem.An estimated 931 million tonnes of food were wasted globally in 2019, enough to circle the Earth seven times, according to a UN report which said that household food waste in India is about 68.7 million tonnes a year.About 50 per cent of all food across the world is wasted and never reaches the needy. India wastes as much food as the whole of the United Kingdom consumes. Food wastage is an alarming issue in India. Indian weddings or huge gatherings or family functions that are famous for ages for being lavish have only one major throwback and that is FOOD WASTAGE. Sadly, this is often ignored and taken lightly. The leftover food at a wedding or family functions  is a very common issue, but the main challenge that comes is to not let that food get wasted. According to several types of research, approximately 40 percent of the food prepared at a wedding venue is wasted and thrown away after the wedding ends. India’s estimated 10 million weddings a year contribute to food wastage.
        Thus, leading to wastage

</p>

      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="img/consumable.jpeg" alt="Card image cap" style="margin-bottom: 30px;padding-right: 30px;padding:30px"></div>
      <div class="card-body">
        <h4 class="card-title"><b>Consumable food</b></h4>
        <p class="card-text" style=" text-align: justify;margin-bottom: 30px;line-height: 20pt;padding-right: 30px;">
        The edible surplus food can be diverted to pig houses and poultry farms and thus, providing an additional option for animal feeding.By recycling food waste, surplus fruit, vegetables and their processing back to the food chain by converting it into animal feed can reduce the food waste generated in the supply chain.
        The use of waste food reduces the cost of animal feed, leading to higher profit for livestock farmers.
        Mitigation of environmental problems due to the decomposition of such wastes is an additional bonus.
        According to experts, this recycling strategy is the most sustainable. Experts say knowledge of the nutritional value of animal feed and feed management is critical for the adoption of these novel feed resources, which can be easily incorporated in the diet of farm animals.
</p>

      </div>
    </div>
    <br>
    <br>
    <div class="card" >
      <div class="card-img-body">
        <img class="card-img" src="img/1.jpeg" alt="Card image cap" style="margin-bottom: 30px;padding-right: 30px;padding:30px"></div>
      <div class="card-body">
        <h4 class="card-title"><b>Non Consumable</b></h4>
        <p class="card-text" style=" text-align: justify;margin-bottom: 30px;line-height: 20pt;padding-right: 30px;">The non edible surplus food can be processed by  methods such as composting and anaerobic digestion. Composting produces compost for local agriculture, parks and forestry, while anaerobic digestion produces renewable fuel.Composting is the simpler, and cheaper, process. Composting is the aerobic (in the presence of air) decomposition of organic waste, and it significantly reduces or even prevents the release of methane during the breakdown of organic matter. Compost can be used to return nutrients to depleted soils and support moisture retention, which boosts crop productivity – it can increase crop production by 15–25%, while reducing the use of chemical fertilisers. Anaerobic digestion is the decomposition of organic waste in controlled conditions using a sealed, oxygen-free tank. It creates biogas – a renewable energy resource that can be used or sold to generate revenue

</p>

      </div>
    </div>
    <br>
    <br>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="img/0.jpg" alt="Card image cap" style="margin-bottom: 30px;padding-right: 30px;padding:30px"></div>
      <div class="card-body">
        <h4 class="card-title"><b>Solution</b></h4>
        <p class="card-text" style=" text-align: justify;margin-bottom: 30px;line-height: 20pt;padding-right: 30px;"><br>The excess food waste generated can be diverted to the place of need.It can be utilized in animal feeding  and natural compost generation. The leftover food received from households, wedding houses, college mess and various restaurants can be further categorized as consumable and non consumable food.

            <br><br><br><br><br><br>
        </p>

      </div>
    </div>
    </div>

  </div>
</div>

    </div>

    </div>
  </section>
  <!-- / Blog Archive -->


<%- include('includes/end.ejs') %>